---
import Social from "../components/Social.astro";
---

<style>
  .footer {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
  }
  footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
</style>

<div class="footer">
  <footer>
    <Social platform="twitter" username="cnscottluo" />
    <Social platform="github" username="cnscottluo" />
    <Social platform="linkedin" username="cnscottluo" />
  </footer>
</div>
